@font-face {
  font-family: "Fette Unz Fraktur";
  src: url("../fonts/FetteClassicUNZFraktur.ttf");
}
@font-face {
  font-family: "Black Clover Font", sans-serif;
  src: url("../fonts/PalanquinDark-SemiBold.ttf");
}
@font-face {
  font-family: "head reg";
  src: url("../fonts/PalanquinDark-Regular.ttf");
}

/** STYLE 2 */
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e49c07;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0e0814;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: #0e0814;
}

html,
body {
  background: linear-gradient(to left, #0e0814 10%, #0e0814 20%, #000000 40%);
  font-family: "Black Clover Font", sans-serif;
  margin: 0;
  letter-spacing: 0.2rem;
}
/* header style */
.header-title {
  color: #e49c07;
  text-align: center;
  font-size: 114.35px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  min-width: 100%;
  margin: 0 auto;
}

.item {
  display: inline-block;
  min-height: 400px;
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*** Images With Color Fallbacks ***/
.item:nth-child(1) {
  background-color: #000000;
  background-image: url(https://bclover.jp/images/character/character_image02.png);
  background-position: 40% 10%;
}

.item:nth-child(2) {
  background-color: #e49c07;
  background-image: url(https://bclover.jp/images/character/character_image03.png);
  background-position: 50% 10%;
}

.item:nth-child(3) {
  background-color: #000000;
  background-image: url(https://bclover.jp/images/character/character_image04.png);
  background-position: 40% 10%;
}

.item:nth-child(4) {
  background-color: #e49c07;
  background-image: url(https://bclover.jp/images/character/character_image05.png);
  background-position: 40% 1%;
}

.item:nth-child(5) {
  background-color: #000000;
  background-image: url(https://bclover.jp/images/character/character_image01.png);
  background-position: center -70px;
}

.item:nth-child(6) {
  background-color: #e49c07;
  background-image: url(https://bclover.jp/images/character/character_image06.png);
  background-position: center 40px;
}

.item:nth-child(7) {
  background-color: #000000;
  background-image: url(https://bclover.jp/images/character/character_image07.png);
  background-position: 75% 5%;
}

.item:nth-child(8) {
  background-color: #e49c07;

  background-image: url(https://bclover.jp/images/character/character_image08.png);
  background-position: 75% 5%;
}

/*** Grid Set Up ***/
@supports (display: grid) {
  .item {
    width: auto;
    min-height: 0;
  }

  .item:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / 20;
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 76.5%, 0 100%);
    clip-path: polygon(0 0, 80% 0, 100% 76.5%, 0 100%);
    margin-bottom: -93px;
  }

  .item:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / 20;
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 80%, 15.5% 100%);
    clip-path: polygon(0 0, 100% 0, 75% 80%, 15.5% 100%);
    margin-left: -21%;
    margin-right: -5%;
  }

  .item:nth-child(3) {
    grid-column: 3 / span 1;
    grid-row: 1 / 20;
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 53%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 53%);
    margin-left: -28%;
    margin-bottom: -150px;
  }

  .item:nth-child(4) {
    grid-column: 1 / span 1;
    grid-row: 20 / 40;
    -webkit-clip-path: polygon(0 22.5%, 100% 0, 100% 77.5%, 0 100%);
    clip-path: polygon(0 22.5%, 100% 0, 100% 77.5%, 0 100%);
    margin-top: -5px;
    margin-bottom: -93px;
  }

  .item:nth-child(5) {
    grid-column: 2 / span 1;
    grid-row: 20 / 40;
    -webkit-clip-path: polygon(0 13%, 74% 0, 100% 9.25%, 100% 100%, 0 100%);
    clip-path: polygon(0 13%, 74% 0, 100% 9.25%, 100% 82%, 65% 100%, 0 82%);
    margin-top: -67px;
    margin-left: -1%;
    margin-bottom: -86px;
  }

  .item:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 20 / 40;
    -webkit-clip-path: polygon(0 0, 100% 34.5%, 100% 100%, 0 68.5%);
    clip-path: polygon(0 0, 100% 34.5%, 100% 100%, 0 68.5%);
    margin-left: -1%;
    margin-top: -20px;
    margin-bottom: -150px;
  }

  .item:nth-child(7) {
    grid-column: 1 / 3;
    grid-row: 40 / 60;
    -webkit-clip-path: polygon(0 50%, 49% 0, 75% 38%, 34% 100%, 0 100%);
    clip-path: polygon(0 30%, 49% 0, 100% 97%, 34% 100%, 0 100%);
    margin-top: -7px;
  }

  .item:nth-child(8) {
    grid-column: 2 / span 2;
    grid-row: 40 / 60;
    -webkit-clip-path: polygon(0 50%, 57% 0, 100% 48%, 100% 100%, 0 100%);
    clip-path: polygon(20% 100%, 57% 0, 100% 48%, 100% 100%, 0 100%);
    margin-left: -15%;
    margin-top: -7px;
  }
}

/*** Floating Text ***/
.text-box {
  position: absolute;
  top: 690px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.text {
  font-weight: 600;
  font-family: "Black Clover Font", sans-serif;
  color: #e49c07;
  display: block;
  text-align: center;
  text-shadow: 0px 3px 15px #000;
  font-size: 3.5vmax;
}
.content {
  color: #e49c07;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
img.big-image {
  box-shadow: 0 0 3px #000000, 0 0 3px #000000, 0 0 10px #e49c07,
    0 0 5px #e49c07, 0 0 5px #e49c07, 0 0 20px #e49c07, 0 0 10px #e49c07;
  border-radius: 10px;
  max-width: 100%;
}
p.caption {
  color: #c78708;
  font-size: 29.7px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li::before {
  content: url("./../images/white-clover.png");
  margin-right: 10px;
}
ul li {
  line-height: 2.9rem;
  font-family: "Black Clover Font", sans-serif;
  font-size: 29.7px;
}

a {
  text-decoration: none;
}

/* about */
.character-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.character-image-container {
  filter: drop-shadow(5px 5px 5px #5133ac);
  position: relative;
  flex: 1;
}

.character-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 500px;
  opacity: 1;
  transition: bottom 0.4s ease-out;
  transition: opacity 0.5s linear;
}

.character-image-container .img-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: bottom 0.4s ease-out;
  transition: opacity 0.5s linear;
}
.character-image-container:hover .character-image {
  transition: bottom 0.4s ease-out;
  opacity: 0;
}
.character-image-container:hover .img-top {
  opacity: 1;
  width: 100%;
  height: 500px;
}
.character-details {
  flex: 1;
}

.character-heading {
  font-family: "Black Clover Font", sans-serif;
  font-size: 49.9px;
  margin-bottom: 1rem;
}

.character-description {
  font-family: "Black Clover Font", sans-serif;
  line-height: 2.9rem;
  font-size: 29.7px;
  text-align: justify;
}

.characteristics-list {
  font-size: 1.2rem;
  padding-left: 20px;
  font-family: "head reg";
}

/* Friends */

.friends {
  font-family: "Black Clover Font", sans-serif;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.friends-heading {
  text-align: center;
  font-size: 2.4rem;
}
.friends .row {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.friends .row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #e49c07;
  position: relative;
  padding: 0;
  margin: 0 !important;
  border-radius: 20px;
  overflow: hidden;
  min-width: 230px;
  max-width: 280px;
  max-height: 340px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card .card-image {
  width: 100%;
  max-height: 340px;
}

.card .card-image img {
  filter: grayscale(100%) opacity(60%);
  max-width: 240px;
  min-height: 340px;
  max-height: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.card .card-image img:hover {
  filter: drop-shadow(5px 5px 5px #5133ac);
  /* filter: none; */
}

.card .card-content {
  position: absolute;
  bottom: -180px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  min-height: 140px;
  width: 100%;
  transition: bottom 0.4s ease-in;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.card:hover .card-content {
  bottom: 0px;
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
  transform: translateY(10px);
  opacity: 1;
}

.card .card-content h4,
.card .card-content h5 {
  font-size: 21.8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #0e0814;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-40px);
  transition-delay: 0.2s;
}

.card .card-content h5 {
  font-size: 18.4px;
  transition: 0.5s;
  font-weight: 200;
  letter-spacing: 2px;
}

.card .card-content .social-icons {
  list-style: none;
  padding: 0;
}

.card .card-content .social-icons li {
  margin: 10px;
  transition: 0.5s;
  transition-delay: calc(0.15s * var(--i));
  transform: translateY(50px);
}

.card:hover .card-content .social-icons li {
  transform: translateY(20px);
}

.card .card-content .social-icons li a {
  color: #fff;
}

.card .card-content .social-icons li a span {
  font-size: 25.4px;
}

footer {
  font-family: "head reg";
  margin-top: 40px;
  padding: 40px 20px;
  background-color: #e49c07;
}
footer ol {
  text-align: center;
}
footer ol li {
  font-size: large;
  display: inline-block;
  margin: 0 5px;
}
/* Media queries */
@media only screen and (max-width: 800px) {
  .container,
  .content {
    height: auto;
    width: auto;
  }
  .friends .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .friends a {
    margin-top: 20px;
  }

  .character-section {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .character-image {
    width: 300px;
    height: 400px;
  }
}
span:hover {
  animation: glow 0.8s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 2px #1f0862, 0 0 2px #1f0862, 0 0 4px #2a0e7e,
      0 0 5px #2a0e7e, 0 0 5px #2a0e7e, 0 0 10px #2a0e7e, 0 0 10px #2a0e7e;
  }

  to {
    text-shadow: 0 0 10px #1f0862, 0 0 10px #5133ac, 0 0 10px #5133ac,
      0 0 20px #5133ac, 0 0 30px #5133ac, 0 0 40px #5133ac, 0 0 60px #5133ac;
  }
}
