@font-face {
  font-family: "Fette Unz Fraktur";
  src: url("../fonts/FetteClassicUNZFraktur.ttf");
}
@font-face {
  font-family: "head semi";
  src: url("../fonts/PalanquinDark-SemiBold.ttf");
}
@font-face {
  font-family: "head reg";
  src: url("../fonts/PalanquinDark-Regular.ttf");
}

/**  STYLE 2 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e49c07;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0e0814;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #0e0814;
}

html,
body {
  background: linear-gradient(to left, #0e0814 10%, #0e0814 20%, #000000 40%);
  font-family: Arial, sans-serif;
  margin: 0;
}
header {
  max-width: 80%;
  border-radius: 0 0 20px 20px;
  margin: 0 auto;
  background-color: #0e0814;
  background: center / cover no-repeat url("../images/bacground.jpg");
  padding: 40px;
  text-align: center;
}
header h1 {
  font-family: "Fette Unz Fraktur";
  font-size: 90px;
  color: #e49c07;
}
header img {
  border-radius: 174px;
  width: 300px;
}
.content {
  color: #e49c07;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
img.big-image {
  box-shadow: 1px 1px 15px 1px #e49c07;
  border-radius: 10px;
  max-width: 100%;
}
p.caption {
  color: #d6a239;
  font-size: 17px;
  font-style: italic;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ol li {
  font-family: "head reg";
  font-size: 1.4rem;
  margin-bottom: 7px;
}
a {
  text-decoration: none;
}

/* about */
.character-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.character-image-container {
  flex: 1;
}

.character-image {
  width: 400px;
  height: 500px;
}

.character-details {
  flex: 1;
}

.character-heading {
  font-family: "head semi";
  font-size: 2rem;
  margin-bottom: 1rem;
}

.character-description {
  font-family: "head reg";
  line-height: 35px;
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 1.5rem;
}

.characteristics-list {
  font-size: 1.2rem;
  list-style-type: disc;
  padding-left: 20px;
  font-family: "head reg";
}

/* Friends */

.friends {
  max-height: 800px;
  overflow-y: scroll;
  font-family: "head semi";
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.friends-heading {
  text-align: center;
  font-size: 2.4rem;
}
.friends .row {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.friends .row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #e49c07;
  position: relative;
  padding: 0;
  margin: 0 !important;
  border-radius: 20px;
  overflow: hidden;
  min-width: 230px;
  max-width: 280px;
  max-height: 340px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card .card-image {
  width: 100%;
  max-height: 340px;
}

.card .card-image img {
  filter: grayscale(100%) opacity(60%);
  max-width: 240px;
  min-height: 340px;
  max-height: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.card .card-image img:hover {
  filter: none;
}

.card .card-content {
  position: absolute;
  bottom: -180px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  min-height: 140px;
  width: 100%;
  transition: bottom 0.4s ease-in;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.card:hover .card-content {
  bottom: 0px;
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
  transform: translateY(10px);
  opacity: 1;
}

.card .card-content h4,
.card .card-content h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-40px);
  transition-delay: 0.2s;
}

.card .card-content h5 {
  transition: 0.5s;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.card .card-content .social-icons {
  list-style: none;
  padding: 0;
}

.card .card-content .social-icons li {
  margin: 10px;
  transition: 0.5s;
  transition-delay: calc(0.15s * var(--i));
  transform: translateY(50px);
}

.card:hover .card-content .social-icons li {
  transform: translateY(20px);
}

.card .card-content .social-icons li a {
  color: #fff;
}

.card .card-content .social-icons li a span {
  font-size: 1.3rem;
}

footer {
  font-family: "head reg";
  margin-top: 20px;
  padding: 40px 20px;
  background-color: #e49c07;
}
footer ul {
  text-align: center;
}
footer ul li {
  font-size: large;
  display: inline-block;
  margin: 0 5px;
}

@media only screen and (max-width: 800px) {
  .friends .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .friends a {
    margin-top: 20px;
  }

  .character-section {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .character-image {
    width: 300px;
    height: 400px;
  }
}
